{% load static %}
<nav class="Navigation">
    <div class="Navigation__inner">
      <img src="{% static 'img/home/white-logo.svg' %}" alt="logotipo" class="Navigation__logo">
      <div class="Navigation__socialNetworks">
        <a href="#" class="Navigation__socialLink">
          <i class="Navigation__socialIcon fa fa-youtube-play"></i>
        </a>
        <a href="#" class="Navigation__socialLink">
          <i class="Navigation__socialIcon fa fa-twitter"></i>
        </a>
        <a href="#" class="Navigation__socialLink">
          <i class="Navigation__socialIcon fa fa-instagram"></i>
        </a>
        <a href="#" class="Navigation__socialLink">
          <i class="Navigation__socialIcon fa fa-facebook-official"></i>
        </a>
      </div>
      <a href="#" class="Navigation__searchLink">
        <i class="Navigation__searchIcon fa fa-search"></i>
        <span class="Navigation__searchLabel">Busqueda</span>
      </a>
      <form action="#" class="Navigation__searchForm">
        <i class="Navigation__searchIcon fa fa-search"></i>
        <input type="text" class="Navigation__input" placeholder="Busqueda">
      </form>
    </div>
</nav>
<script>
function focusSearch() {
  document.getElementById('searchInput');
}
</script>
