*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	font-weight: 400;
	color: #303030;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.container{
	width: 87%;
  max-width: 1260px;
  margin: 0 auto;
}

@mixin break($class) {
  @media (min-width: $class){
    @content;
  }
}

@import './font-awesome';
@import './commom/navigation';
@import './home/index';
@import './news/index';
@import './articles/index';
