{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="MainMenu">
    <img src="" alt="" class="MainMenu__logo">
</nav>

<section class="MainSlider slider">
  <div class="MainSection">
      <div class="MainSection__inner">
          <div class="container">
            <div class="MainSection__dateAndAuthor">
                <span class="MainSection__date">
                14.01.2017
              </span> Escrito por
                <span class="MainSection__author">
              Dragonofv1
            </span>
            </div>
            <a href="#" class="MainSection__titleLink">
              <h2 class="MainSection__title">"No mas felixibilizacion laboral"</h2>
            </a>
            <h4 class="MainSection__subtitle">El pueblo y la juventud exigen</h4>
          </div>
      </div>
  </div>
  <div class="MainSection">
      <div class="MainSection__inner">
          <div class="container">
            <div class="MainSection__dateAndAuthor">
                <span class="MainSection__date">
                14.01.2017
              </span> Escrito por
                <span class="MainSection__author">
              Dragonofv1
            </span>
            </div>
            <a href="#" class="MainSection__titleLink">
              <h2 class="MainSection__title">"No mas felixibilizacion laboral"</h2>
            </a>
            <h4 class="MainSection__subtitle">El pueblo y la juventud exigen</h4>
          </div>
      </div>
  </div>
</section>

<div class="LinksSection">
    <div class="container">
        <ul class="LinksSection__linksContainer">
            <div class="LinksSection__linksGroup">
                <span class="LinksSection__label">Leer mas sobre</span>
                <li class="LinksSection__linkItem"><a href="#" class="LinksSection__link"><i class="LinksSection__linkIcon fa fa-circle"></i> FANS</a></li>
                <li class="LinksSection__linkItem"><a href="#" class="LinksSection__link"><i class="LinksSection__linkIcon fa fa-circle"></i> PROXIMO</a></li>
            </div>
            <div class="LinksSection__linksGroup last">
                <li class="LinksSection__linkItem"><a href="#" class="LinksSection__link"><i class="LinksSection__linkIcon fa fa-circle"></i> RETROSPECTIVA</a></li>
                <li class="LinksSection__linkItem"><a href="#" class="LinksSection__link"><i class="LinksSection__linkIcon fa fa-circle"></i> DETRAS DE LA TINTA</a></li>
            </div>
        </ul>
    </div>
</div>

<section class="ArticlesSection">
    <div class="container">
        <div class="ArticlesSection__group">
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post1.png' %}')">
                  <div class="Article__number">
                    <div class="Article__square">
                      <span class="Article__innerNumber">1</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">FANS</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post2.png' %}')">
                  <div class="Article__number blackStyle">
                    <div class="Article__square">
                      <span class="Article__innerNumber">2</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">RETROSPECTIVA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post3.png' %}')">
                  <div class="Article__number">
                    <div class="Article__square">
                      <span class="Article__innerNumber">3</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">DETRAS DE LA TINTA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post4.png' %}')">
                  <div class="Article__number blackStyle">
                    <div class="Article__square">
                      <span class="Article__innerNumber">4</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">RETROSPECTIVA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="SemiHeroArticleSection" >
  <div class="SemiHeroArticleSection__leftBackground">
    <img src="{% static 'img/home/semihero1.jpg' %}" alt="" class="SemiHeroArticleSection__backgroundImage">
    <span class="SemiHeroArticleSection__bigNumber">5</span>
  </div>
  <div class="container">
    <div class="SemiHeroArticle">
      <h5 class="SemiHeroArticle__tag"><a href="#" class="SemiHeroArticle__link">DETRAS DE LA TINTA</a></h5>
      <a href="#" class="SemiHeroArticle__titleLink">
        <h2 class="SemiHeroArticle__title">"Los obreros de la construccion
          empujados al margen"
        </h2>
      </a>
      <p class="SemiHeroArticle__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum
      </p>
    </div>
  </div>
</section>

<section class="ArticlesSection extraDesktop">
    <div class="container">
        <div class="ArticlesSection__group">
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post1.png' %}')">
                  <div class="Article__number">
                    <div class="Article__square">
                      <span class="Article__innerNumber">6</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">FANS</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post2.png' %}')">
                  <div class="Article__number blackStyle">
                    <div class="Article__square">
                      <span class="Article__innerNumber">7</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">RETROSPECTIVA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post3.png' %}')">
                  <div class="Article__number">
                    <div class="Article__square">
                      <span class="Article__innerNumber">8</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">DETRAS DE LA TINTA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
            <div class="Article">
                <div class="Article__cover" style="background-image: url('{% static 'img/home/post4.png' %}')">
                  <div class="Article__number">
                    <div class="Article__square blackStyle">
                      <span class="Article__innerNumber">9</span>
                    </div>
                  </div>
                </div>
                <div class="Article__details">
                    <h4 class="Article__tag"><a href="#" class="Article__tagLink">RETROSPECTIVA</a></h4>
                    <a href="#" class="Article__mainLink"><h3 class="Article__title">Nullam eu arcu porttitor gravida augueut vestibulum</h3></a>
                    <p class="Article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsum et facere, hic ipsa doloremque, nulla, commodi voluptatem in distinctio inventore dolorem.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="HeroArticleSection" style="background-image: url('{% static 'img/home/hero1.jpg' %}')">
  <div class="container">
    <div class="HeroArticle">
      <h5 class="HeroArticle__author">14.01.2017  Escrito por <span class="HeroArticle__authorName">Edward Martínez</span></h5>
      <a href="#" class="HeroArticle__mainLink"><h3 class="HeroArticle__title">“La derrota de los derechos laborales en el peru"</h3></a>
      <h6 class="HeroArticle__tag">flexibilizacion laboral</h6>
      <div class="HeroArticle__bottomLine"></div>
    </div>
  </div>
  <div class="HeroArticleSection__bigNumber">10</div>
</section>
<footer class="EndingSection">
    <div class="container">
        <div class="EndingSection__logoAndForm">
          <img src="{% static 'img/home/vanguardia-logo.png' %}" alt="" class="EndingSection__logo">
          <form action="" class="SubscribeForm">
              <h4 class="SubscribeForm__label">Suscribete a nuestra edicion mensual</h4>
              <input type="email" class="SubscribeForm__emailInput" placeholder="Correo electrónico">
              <button class="SubscribeForm__button" type="submit">Suscríbete</button>
              <a href="#" class="EndingSection__contactLink">Contacto</a>
          </form>
        </div>
    </div>
</footer>

{% block scripts %}
<script>
$(function() {
  $('.slider').slick({
    // adaptiveHeight: true,
    autoplay: true,
    arrows: false,
    dots: true,
  });
});
</script>
{% endblock scripts %}

{% endblock content %}
